.env
__pycache__/
*.pyc
~\$*.xlsx
*.xlsx

# Python venv
.venv/
venv/

# .NET (painel saas/web)
bin/
obj/
appsettings.Development.json
appsettings.Production.json
.vs/
*.user
dp-keys/
PublishProfiles/
dotnet-tools.json
